<StatusMessage Message="@StatusMessage" />
<MudText Typo="Typo.h5" GutterBottom="true">Recovery codes</MudText>

<MudAlert Severity="Severity.Warning" Class="mb-4">
    <MudText Typo="Typo.subtitle1"><strong>Put these codes in a safe place.</strong></MudText>
    <MudText>
        If you lose your device and don't have the recovery codes you will lose access to your account.
    </MudText>
</MudAlert>

<MudGrid>
    <MudItem xs="12">
        @foreach (var recoveryCode in RecoveryCodes)
        {
            <div>
                <code class="recovery-code">@recoveryCode</code>
            </div>
        }
    </MudItem>
</MudGrid>

@code {
    [Parameter]
    public string[] RecoveryCodes { get; set; } = [];

    [Parameter]
    public string? StatusMessage { get; set; }
}
